<template>
    <h1>Create new list</h1>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-md-8">
                List title:
            </div>
            <div class="col-md-8">
                <input type="text" id="listName" width="100%"/>
            </div>
            <div class="col-md-8 mt-2">
                <button type="button" class="btn btn-primary" @click="createList">Create List</button>
            </div>
        </div>
        
    </div>
</template>
<script>
export default {
  name: 'CreateList',
  props: {
    msg: String
  },
  methods: {
      async createList() {
            let labels = ['like', 'network', 'plus', 'settings', 'star'];
            var item = labels[Math.floor(Math.random()*labels.length)];
            var listName = document.getElementById('listName').value;
            var postData = JSON.stringify({
                'listName' : listName,
                'label': item
            });
            var options = {
                url: 'http://localhost:8000/api/lists',
                method: 'POST',
                mode: 'cors',
                data: postData,
                headers: {}
            };
            try {
                const response = this.$http.request(options);
                console.log(response);
                location.href = '/';
            } catch(error) {
                console.log('error');
            }
      }
  }
}
</script>