<template>
    <div class="container d-flex justify-content-center">
        <h1>
            Edit list: {{ myList.listName }}#{{myList.id}}
        </h1>
    </div>
    <div class="container d-flex justify-content-center mt-2">
        <div class="col-lg-12">
            <div class="input-group mb-5">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">List title</span>
                </div>
                <input type="text" 
                       class="form-control" 
                       id="listname"
                       aria-label="Default" 
                       aria-describedby="inputGroup-sizing-default" 
                       :value="myList.listName"
                       />
            </div>
            <div v-if="toDoList.length > 0" class="edit-items">
                <div class="col-lg-12  d-flex justify-content-start">
                    <span>Edit items:</span>
                </div>
                <div class="col-lg-12 must-do"  v-for="(task, index) in toDoList" :key="task.id">
                    <div class="col-lg-8 d-inline-block">
                        <input 
                            type="text" 
                            class="form-control" 
                            :value="task['task-text']"
                            @keyup="setTaskValue(
                                        $event, 
                                        index, 
                                        task.hasOwnProperty('done') ? task.done : false)" />
                    </div>
                    <div class="col-lg-4 d-inline-block">
                        <button 
                            type="button" 
                            class="btn btn-light btn-lg btn-block mb-1" 
                            @click="deleteTask(task.id)"
                            v-if="task.hasOwnProperty('id')"
                        ><i>delete</i></button>
                        <button 
                            type="button" 
                            class="btn btn-light btn-lg btn-block mb-1" 
                            @click="deleteInput(index)"
                            v-else
                        ><i>delete</i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12  d-flex justify-content-start edit-items" v-else>
                <span>No tasks created yet</span>
            </div>
            <button type="button" class="btn btn-light btn-lg btn-block" @click="addTask">Add new item</button>
            <button type="button" 
                    class="btn btn-light btn-lg btn-block"
                    @click="saveList"
                    ><b>Save</b></button>
        </div>
    </div>
</template>
<script>
export default {
    name: 'EditList',
    data() {
        return {
            listId: this.$route.params.listId,
            myList: '',
            toDoList: [],
            deletedTasks: []
        }
    },
    created() {
        let uri = 'http://localhost:8000/api/list/' + this.listId;
        this.$http.get(uri).then(response => {
            this.myList = response.data;
            this.toDoList = response.data.toDoList;
        })
        .catch(error => console.log(error));
    },
    methods: {
        setTaskValue(event, id, done) {
            this.toDoList[id]['task-text'] = event.target.value
            this.toDoList[id]['done'] = done
        },
        addTask(){
            this.toDoList.push({'task-text': ''});
        },
        deleteTask(id) {
            this.deletedTasks.push(id);
        },
        deleteInput(index) {
            var $ = require('jquery')
            $('.must-do').get(index).remove();
        },
        saveList() {
            let uri = 'http://localhost:8000/api/list-edit';
            var $ = require('jquery')
            var listname = $('#listname').val();
            var option  = {
                listname: listname,
                listId: this.listId,
                toDoList: this.toDoList
            }
            this.$http.post(uri, option).then(response => {
                console.log(response);
                window.location = '/list/' + this.listId;
            })
            .catch(error => console.log(error));
        }

    }
}
</script>

<style>
    .edit-items {
        min-height: 300px;
        overflow-y: script;
    }
    .edit-items input {
        height: 40px;
    }
</style>