<template>
    <div class="container d-flex justify-content-center">
        <img :src="getImgUrl(myList.label)" height="40" width="40" class="mr-4" />
        <h1>
            {{ myList.listName }}
        </h1>
        <button type="button" class="btn btn-light ml-2 mr-2" @click="listEdit">Edit</button>
        <button type="button" class="btn btn-danger" @click="deleteList">delete</button>
        <button type="button" class="btn btn-warning ml-2" @click="this.$router.push({path: '/'})">back</button>
    </div>
    <div class="container d-flex justify-content-center mt-2">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4 justify-content-end">
                    Sort by:
                </div>
                <div class="col-lg-8 justify-content-start">
                    <select class="custom-select" v-model="this.$route.query.sort" @change="sortList($event)">
                        <option value="asc">Status asc</option>
                        <option value="desc">Status desc</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center mt-2">
        <h4 v-if="toDoList.length==0">Please add some tasks</h4>
        <div v-else class="col-lg-12">
            <div class="row" v-for="task in toDoList" :key="task.id">
                <div class="col-lg-6 d-inline-block">
                    <input type="checkbox" v-model="task.done" @click="saveStatus(task.done, task.id)"/>
                </div>
                <div class="col-lg-6 d-inline-block d-flex justify-content-left">
                    <p>{{task['task-text']}}</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'GetList',
    data() {
        return {
            listId: this.$route.params.listId,
            myList: null,
            toDoList: "",
            uri: 'http://localhost:8000/api/list/',
        }
    },
    created() {
        let my_url = this.uri + this.listId;
        if(this.$route.query.sort && this.$route.query.sort != "0") {
            my_url += '?sort=' + this.$route.query.sort;
        }
        this.$http.get(my_url).then(response => {
            this.myList = response.data;
            this.toDoList = response.data.toDoList;
        })
        .catch(error => console.log(error));
    },
    methods: {
        sortList(event) {
            var sort = event.target.value;
            var path = window.location.href.split('?')[0];
            if(sort != "0") {
                window.location.href= path +'?sort='+sort
            }
        },
        deleteList() {
            let uri = this.uri + this.listId;
            this.$http.delete(uri).then(response => {
                console.log(response);
                this.$router.push({path: '/'})
            })
            .catch(error => console.log(error));
        },
        saveStatus(status, id) {
            let uri = this.uri + this.listId + '/set-status';
            var postData = JSON.stringify({
                'listId' : id,
                'status': status
            });
            this.$http.put(uri, postData).then(response => {
                console.log(response);
            })
            .catch(error => console.log(error));
        },
        getImgUrl(pet) {
            var images = require.context('../assets/', false, /\.png$/)
            return images('./' + pet + ".png")
        },
        listEdit(){
            this.$router.push('/list-edit/'+this.myList.id); 
        }
    }
}
</script>