<template>
    <nav class="navbar navbar-light bg-light">
        
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <h1>Lists
                        <router-link to="/create">
                            <img alt="Vue logo" src="../assets/plus.png" width="35" height="35">
                        </router-link>
                    </h1>
                </div>
                <div class="w-100"></div>
                <div class="col d-flex justify-content-end">
                    Sort by:
                </div>
                <div class="col d-flex justify-content-start">
                    <select id="custom-select" class="custom-select" @change="sortList($event)">
                        <option selected value="0">Sort By</option>
                        <option value="asc">Create date asc</option>
                        <option value="desc">Create date desc</option>
                    </select>
                </div>
            </div>
        </div>
    </nav>
    <div class="container d-flex justify-content-center">
        <ul class="list-group">
            <li v-for="list in lists" class="list-group-item" :key="list.id">
                <router-link :to="`/list/${list.id}`">
                    <div class="container d-flex justify-content-start">
                        <img :src="getImgUrl(list.label)" height="20" width="20" class="mr-4" />
                        {{ list.listName }}
                    </div>
                </router-link>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    data() {
        return {
            lists: [],
            uri: 'http://localhost:8000/api/lists',
        }
    },
    async created() {
        let my_url = this.uri;
        if(this.$route.query.sort && this.$route.query.sort != "0") {
            my_url += '?sort=' + this.$route.query.sort;
        }
        this.$http.get(my_url).then(response => {
            console.log(response);
            this.lists = response.data;
        })
        .catch(error => console.log(error));
    },
    name: 'IndexComponent',
    props: {
        msg: String
    },
    methods: {
        sortList(event) {
            var sort = event.target.value;
            if(sort != "0") {
                window.location.href='?sort='+sort
            }
        },
        getImgUrl(pet) {
            var images = require.context('../assets/', false, /\.png$/)
            return images('./' + pet + ".png")
        }
    }
}
</script>